@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('http://fonts.cdnfonts.com/css/uni-neue');
@import url('//db.onlinewebfonts.com/c/80241b4ef777109d2625c9195e7ca852?family=NordiquePro-Bold');
                
/* Background */
/* .custom-shape-divider-top-1647103383 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider-top-1647103383 svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 365px;
}

.custom-shape-divider-top-1647103383 .shape-fill {
    fill: #f78133;
} */
/* Profile CSS */
.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
  }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  .avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

/*NAVBAR PRACTICE START*/
header{
    position: fixed;
    background-image: linear-gradient(90deg,#fc4a1a,#f7b733);
    padding: 20px;
    width: 100%;
    height: 60px;
    z-index: 5;
    top: 0;
}
.logo{
    width: 50px;
    height: 50px;
    margin-right: -10px;
    margin-top: -20px;
}
.logo_holder{
    margin-top: -25px;
    color: white;
    top: 20px;
}
.fs-4 {
    margin-top: -20px;
}
.center_area{
    text-align: center;   
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side_bar{
    z-index: 999;
    background: #fc4a1a;
    margin-top: 60.2px;
    padding-top: 20px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    top: 0;
    overflow: auto;
}
.side_bar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.centerA{
    text-align: center;
}
.side_bar h4{
    color: rgb(249, 255, 253);
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.side_bar a{
    color: #fff;
    display:block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background-color;
    display: flex;
    /* flex-direction: row; */
    justify-content: left;
    align-items: center;
    /* text-align: left;  */
}
.side_bar a:hover{
    background-color: #fae3ce;
    color: rgb(66, 64, 64);
}

.side_bar span {
    margin-left: 10px;
}
label #side_bar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 15px;
    font-size: 20px;    
    margin: 5px 0;
    top: 15px;
    transition: 0.5s;
    transition-property: color;
}
label #side_bar_btn:hover{
    color: #ffffff;
}

#check:checked ~ .side_bar a{
    font-size: 16px;
    margin-left: 170px;
    width: 80px;
}
#check{
    display: none;
}
/*NAVBAR PRACTICE END*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(243, 228, 210) !important;
}

.wrapper {
    padding: 30px 50px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container{
    padding-top: 50px;
    padding-bottom: 30px;
}
.logo p{
    font-family: 'NordiquePro-Bold', sans-serif;
}
h4 {
    letter-spacing: -1px;
    font-weight: 400;
    
}
.tit {
    font-family: 'Poppins', sans-serif;
}
.pp{
    font-family: 'Poppins', sans-serif;
}
.img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    object-fit: cover;
}

#img-section p,
#change p {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
    text-align: justify;
}

#img-section b,
#img-section button,
#change b {
    font-size: 14px;
    right: 0;
}

label {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 500;
    color: #777;
    padding-left: 3px;
    font-family: 'Poppins', sans-serif;
}
.title-info{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: #fc4a1a;
}
.form-control {
    border-radius: 10px;
}

input[placeholder] {
    font-weight: 500;
}

.form-control:focus {
    box-shadow: none;
    border: 1.5px solid #db6c2b;
}

select {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
}

select:focus {
    outline: none;
}

.button {
    background-color: #fff;
    color: #0779e4;
    font-family: 'Poppins', sans-serif;
}

.button:hover {
    background-color: #0779e4;
    color: #fff;
}

.btn-primary {
    background-color: #db6c2b;
}

.danger {
    background-color: #fff;
    color: #e20404;
    border: 1px solid #ddd;
    margin-left: 18px;
}
.ver {
    text-align: center;
    outline: none;
}

.danger:hover {
    background-color: #e20404;
    color: #fff;
}

@media(max-width:576px) {
    .wrapper {
        padding: 25px 20px;
    }

    #deactivate {
        line-height: 18px;
    }
}

.fa-check-circle{
    color: green;
}
/* radio button */
