
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    /* background-color: var(--primary-color); */
}
body.close-shop{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: rgb(29, 28, 28);
    --black-light-color: rgb(170, 29, 29);
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}
.admin-header {
    z-index: -1;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
    
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
    background-image: linear-gradient(45deg, #fc4a1a,#f7b733);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.shop_name {
    background-image: linear-gradient(45deg, #cb3107,#b45a0b);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.profile-img-name {
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin_name {
    font-size: 12px;
    padding-left: 6px;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
}

nav .logo-name .logo_name{
    font-size: 25px;
    font-weight: 900 !important;
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
.status-shop-legend {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 10px;
    /* border-bottom: 1px solid rgb(206, 202, 202); */
    /* display: none; */
}
.status-legend{
    background-image: linear-gradient(45deg, #fc4a1a,#f7b733);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: 500;
    font-size: 12px;
    padding-right: 30px;
    padding-left: 13px;
} 
.status-open{
    padding: 3px; 
    padding-left: 10px; 
    padding-right: 10px; 
    border-radius: 20px; 
    background-color: #48A14D; 
    font-size: 12px;
    color: white;
} 
.status-close{
    padding: 3px; 
    padding-left:10px; 
    padding-right: 10px; 
    border-radius: 20px; 
    background-color: #B33F40; 
    font-size: 12px;
    color: white;
} 
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
    
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    text-decoration: none;
    box-shadow: none;
    outline: none;
    z-index: 1;
}
body.close-shop li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 20px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    background-image: linear-gradient(45deg, #fc4a1a,#f7b733);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    /* font-weight: 500; */
}
body.close-shop .nav-links li a:hover i,
body.close-shop .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
    color: red;
}

.logout-mode li a:hover i,
.logout-mode li a:hover .link-name{
    background-image: linear-gradient(45deg, #fc1a21,#cd1c08);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: 500;
}


.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    transition: var(--tran-04);
}
body.close .switch:before{
    left: 20px;
    
}

/* HEADER TOP */

.header-top{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
    /* box-shadow: 0 -1px 12px hsla(174, 63%, 15%, 0.15); */
}
nav.close ~ .header-top{
    left: 73px;
    width: calc(100% - 73px);
}
.header-top .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
    box-shadow: 0 -1px 12px hsla(174, 63%, 15%, 0.15);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
nav.close ~ .header-top .top{
    left: 73px;
    width: calc(100% - 73px);
}
.header-top .top .sidebar-toggle{
    font-size: 26px;
    color: gray;
    cursor: pointer;
}
.header-top .top .sidebar-toggle:hover{
    background-image: linear-gradient(45deg, #fc4a1a,#f7b733);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: 800 !important;
}

.top img{
    width: 40px;
    border-radius: 50%;
}


@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    .shop_name {
        font-size: 15px;
    }
    .admin_name {
        font-size: 8px;
        padding-left: 3px;
    }
    .status-shop-legend{
        display: none;
    } 

    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
  
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .header-top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .header-top{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .header-top .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .header-top .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
    .status-shop-legend{
        display: none;
    } 
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    .status-shop-legend{
        display: none;
    } 
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .header-top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .header-top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .header-top .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .header-top .top{
        left: 0;
        width: 100%;
    }
}
