@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('http://fonts.cdnfonts.com/css/uni-neue');
@import url('//db.onlinewebfonts.com/c/80241b4ef777109d2625c9195e7ca852?family=NordiquePro-Bold');
                
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  /* background-color: #F1A971; */
}

h1 {
  font-weight: 300;
  color: #343434;
  margin: 0.5rem 0;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
  margin-bottom: 1.5rem;
}

.justify-between {
  justify-content: space-between;
}

/*****************  

    buttons

******************/

.btn {
  padding: 0.5rem 1rem;
  border: none;
}

.btn-tab {
  width: 50%;
  font-size: 12px;
  border-radius: 3px;
  color: rgb(19, 18, 18);
}

.btn-tab.active {
  background-color: #e96112;
  border: none;
  color: white;
  outline: none;
  border:none !important;
  outline:none !important;
  box-shadow: none;
  font-weight: 500;
  font-size: 12px;
  transition-timing-function: ease-in-out;
  transition-delay: 0.08s;
}

.transaction-form {
  width: 500px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  text-align: center;
  font-size: 1.25rem;
  padding-top: 5px;
  background-color: rgb(255, 255, 255);
}
.menu {
  padding:10px;
}

.transaction-form .menu-tab {
  display: flex;
  padding: 3px;
  background-color: #ece8e5;
  border-radius: 5px;
  border: none;
}

.transaction-form .menu-tab-search {
  display: flex;
  padding: 5px;
  background-color: #ece8e5;
  border-radius: 10px;
  border: none;
}
.menu-tab-search {
  width: 95%;
  margin-left: 2px;
}
.transaction-form .menu-tab-search .search-icon {
  color: rgb(148, 148, 147);
  padding-top: 5px;
}
.transaction-form .menu-tab-search .clear{
  color: rgb(148, 148, 147);
  font-size: 15px;
  padding-top: 8px;
  cursor: pointer;
  margin-left: -20px;
  display: none;
}

.transaction-form .menu-tab-search .search-input{
  outline: none;
  background-color: #ece8e5;
  border: none;
  font-size: 15px;
  padding-left: 16px ;
  height: 28px;
  padding-top: 5px;
}
.back-icon {
  background-image: linear-gradient(45deg, #f83f0b,#e09e1a);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  text-decoration: none;
}
.filter-icon{
  background-image: linear-gradient(45deg, #f83f0b,#e09e1a);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  text-decoration: none;
}
.back-button-title{
  font-size: 20px;
  font-weight: 500;
}
.transaction-form .transaction-body{
  padding: 0;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

/*****************  

responsive design

******************/
@media screen and (max-width: 750px) {
  .transaction-form {
    width: 370px;
  }

  .flex {
    flex-direction: column;
  }

}
/* CARDS */
.card-holder {
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}
.card-holder:hover {
    box-shadow: rgba(50, 50, 93, 3) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition-timing-function: ease-out;
}
.search-input {
  width: 290px;
}

/* LEGEND */

.legend {
  border-radius: 30px;
  position: relative;
}

.legend1 {
  background-color: rgb(233, 97, 18);
}

.legend2 {
  background-color: rgb(54, 157, 79);
}

.legend3 {
  background-color: rgb(233, 220, 36);
}
.legend4 {
  background-color: rgb(18, 122, 4);
}
.legend5{
  background-color: rgb(154, 5, 5);
}

.legendText {
  font-family: 'Poppins', sans-serif;
  color: rgb(253, 253, 253);
  font-weight: 600;
  font-size: 10px;
}

.legendTitle {
  font-size: 16px;
}

/* WHEN CARD IS CLICKED */

.edit-link {
  text-align:right; 
  padding-right: 5px;
  cursor: pointer;
  color: blue;
}
/* see more */
#text{
  display:none;
}

a:active{
  color:#ffd323;
}
button{
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  cursor:pointer;
  font-size:15px;
  color:blue;
  background-color: #e4dfdf;
  border:none !important;
  outline: none !important;
}
/* card */
.extra-info {
  padding: 20px;
}
.booking-info-card {
  padding: 20px;
  background-color: #e4dfdf;
  border-radius: 10px;
}
  
.info-text-left{ 
  text-align:left; 
  font-size: 12px;
  font-weight: 700;
}
.info-text-middle{ 
  font-size: 10px;
}
.info-text-right{ 
  text-align:right; 
  font-size: 13px;
}

.info-text-left-card{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  height: 90px;
}
.info-text-left-card-title{
  font-size: 15px;
}
.info-text-right-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #007DFE;
  height: 90px;
}

.info-text-left-card, 
.info-text-right-card {
  cursor: pointer;
  border-radius: 5px;
}

.info-text-left-card:hover, 
.info-text-right-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}




/* PAYMENT CSS */
.shop-title{
  font-weight: 700;
  background-image: linear-gradient(45deg, #f83f0b,#e09e1a);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  text-decoration: none;
}
.payment-info-text-left{ 
  text-align:left; 
  font-size: 12px;
  font-weight: 700;
}
.gcash-logo{
  padding-right: 20px;

} 
.gcash-logo-pic {
  width: 40px;
  border-radius: 5px;
}
.info-text-middle{ 
  font-size: 10px;
}
.payment-info-text-right{ 
  font-size: 13px;
  text-align: right;
}
.payment-info-text-middle{
  font-size: 10px;
}
.payment-info-text-right-ref{
  width: 150px;
  height: 25px;
  font-size: 10px;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  background-color: #fcfaf9;
  padding-right: 15px;
  text-align: right;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.edit-icon {
  cursor: pointer;
  margin-top: -40px;
}
.input-num {
  align-items: right;
  max-width: 150px;
  height: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
}
.pay-now{
  border-radius: 10px;
  background-color: #007DFE;
  align-items: center;
  padding: 10px 60px 10px 60px;
  color: #E7F3FF;
  cursor: pointer;
  /* font-size: 10px; */
}
.pay-now:hover{
  border-radius: 10px;
  background-color: #022DB8;
  color: #E7F3FF;
  
}
