@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('http://fonts.cdnfonts.com/css/uni-neue');
@import url('//db.onlinewebfonts.com/c/80241b4ef777109d2625c9195e7ca852?family=NordiquePro-Bold');
                

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    
}
.content-holder{
    z-index: -5;
    height: 90%;
    overflow-y: auto;
}


img{
    max-width: 100%;
    height: auto;
}

.fa-star, .fa-star-half{
    color: #ffe135;
    padding: 3% 0%;
}
.card-body .card-title {
    font-weight: 800;
}
.btn {
    background: #fc6e1d;
    border-color: #fc6e1d;
    font-family: 'Poppins', sans-serif;
}
span{
    text-align: left;
}
.fa-clock{
    color: green;
}

.fa-regular {
    color: white;
}
.event{
    display:flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event p{
    font-size: 12px;
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #fc6e1d;
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fc6e1d;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}
.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 18px;
    align-self: flex-start;
    background: rgb(255, 253, 253);
    padding: 20px;
    border-radius: 4px;
    color: #626262;
    box-sizing: border-box;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.sidebar-title h4{
    font-weight:600;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
}
.left-event h2{
    font-weight:600;
    font-size: 25px;
}
.left-event span{
    font-weight:600;
    font-size: 10px;
    text-align: center;
}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}
.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    border: solid 1px;
}
.right-event h4{
    font-weight:550;
    font-size: 17px;
}
.right-event a{
    font-size: 12px;
    text-decoration: none;
    color: #fc6e1d;
}
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}
