@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 2px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 15%;
	z-index: -1;
}
body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: #ef7f4d;
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #000;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 #vdot-1:checked ~ .category label .vone,
 #vdot-2:checked ~ .category label .vtwo{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: #ef7f4d;
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #ef7f4d, #ffad06);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  /* .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  } */
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}



.imagebody{
    display: grid;
    height: 100%;
    place-items:center;
    text-align: center;
}
.container1{
    height: auto;
    width: 100%;
}
.container1 .wrapper{
    position: relative;
    height: 300px;
    width: 100%;
    border: 2px dashed;
    border-radius: 10px;
    background: #fff;
    display:flex;
    align-items:center;
    justify-content: center;
    overflow: hidden;
}
.wrapper.active{
    border:none;
}
.wrapper.active:hover .file-name{
    display:block;
}
.wrapper.active #custom-btn{
  display:block;
}
.wrapper .image {
    position:absolute;
    height:100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.wrapper .image img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.wrapper .icon{
    font-size: 10px;
    color: blue;
}
.wrapper .text{
    font-size:20px;
    font-weight: 500;
    color: red;
}
.wrapper #cancel-btn{
    position:absolute;
    right:15px;
    top:15px;
    font-size:20px;
    cursor: pointer;
    color: yellow;
    display:none;
}
.wrapper .file-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    padding: 8px 0;
    font-size:18px;
    background: #ef7f4d;
    display:none; 
}
.container1 #custom-btn{
    margin-top:15px;
    width:100%;
    height:25px;
    display:block;
    border:none;
    border-radius:25px;
    color:#fff;
    font-size:12px;
    font-weight:500;
    letter-spacing: 1px;
    text-transform:uppercase;
    cursor: pointer;
    background:#ef7f4d;
}
