@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('http://fonts.cdnfonts.com/css/uni-neue');
@import url('//db.onlinewebfonts.com/c/80241b4ef777109d2625c9195e7ca852?family=NordiquePro-Bold');
.container {
    /* background-color: rgb(86, 82, 82); */
    font-family: 'Poppins', sans-serif;
}
.content-holder{
    padding: 60px;
}
/* LEFT SIDE BAR CONTENT */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.mid-card{
    border-radius: 5px;
    background-color: #f9f6f6;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0;
}
.left-side-bar{
    background-color: #fbf7f7;
    padding: 30px 30px 10px 30px;
    /* height: 150vh; */
    border-radius: 10px;
}
.cam-scanner {
    padding: 120px;
    background-color: rgb(132, 127, 127);
    border-radius: 20px;
}
.trans-detail {
    padding: 15px;
}
.trans-detail p{
    margin: 0;
    padding-left: 15px;
    font-size: 24x;
    color: #7B7575;
    font-weight: 500;
}
.trans-detail input{
    margin: 0;
    width: 190px;
    text-align: right;
}
input[type=number] {
    border-radius: 5px;
    outline: none;
  }
input[type=number]:focus {
    border: 1px solid #555;

    /* For no blue outline, dugay nako sig pangita ani */
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;

  }
.trans-detail-left p{
    display:flex;
    flex:column;
    justify-content: left;
    margin: 0;
    padding-left: 15px;
    font-size: 15px;
    color: #7B7575;
    font-weight: 400;
    padding-bottom: 15px;
    padding-top: 20px;
}
.trans-detail-right p{
    display:flex;
    flex:column;
    justify-content: right;
    margin: 0;
    padding-right: 15px;
    font-size: 15px;
    color: #7B7575;
    font-weight: 600;
    padding-bottom: 15px;
    padding-top: 20px;
}
.payment-details-row{
    padding-bottom: 5px;
}
.trans-title-payment h6{
    margin: 0;
    font-size: 20px;
    color: #7B7575;
    font-weight: 700;
    padding-bottom: 10px; 
    padding-top: 20px;
}
.trans-title-payment{
    padding-bottom: 5px;
    border-bottom: 1px solid #DDD7D7;
}

/* GCASH RECEIPT IMAGE */
.logo-img-method {
    width: 60px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    text-align: right;
}
.receipt-img-logo {
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
#gcash-receipt:hover {opacity: 0.7;}

.receipt-img-modal {
  display: none; 
  position: fixed; 
  z-index: 20; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 20%;
  max-width: 700px;
}


/* Add Animation */
.modal-content{  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close-img {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #003ffd;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close-img:hover,
.close-img:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* OVER-THE-COUNTER PAYMENT METHOD */
.counter-button{
    padding: 100px 20px 0px 20px;
}
.counter-button-confirm{
    background-color: #058b3b;
}
.counter-button-confirm:hover{
    background-color: #0ad35b;
}
.counter-button-cancel{
    background-color: #CC3333;
}
.counter-button-cancel:hover{
    background-color: #e73e3e;
}
.counter-button-confirm
{
    padding: 15px 20px 15px 20px;
    border: none;
    font-size: 18px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}
.counter-button-cancel
{
    padding: 15px 20px 15px 20px;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    border-color: none;
}
input[type=button] {
    border: none;
    outline: none !important;
  }

/* RIGHT SIDE BAR CONTENT */
.right-side-bar{
    background-color: #f0ebeb;
    padding: 30px 50px 10px 50px;
    border-radius: 10px;
}
.right-side-bar-title{
    background-image: linear-gradient(45deg, #f83f0b,#e09e1a);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
    font-weight: 600;
    padding-bottom: 20px;
}
.info-trans-detail-left p{
    display:flex;
    flex:column;
    justify-content: left;
    margin: 0;
    font-size: 15px;
    color: #7B7575;
    font-weight: 400;
    padding-bottom: 15px;
    padding-top: 20px;
}
.info-trans-detail-right p{
    display:flex;
    flex:column;
    justify-content: right;
    margin: 0;
    font-size: 15px;
    color: #7B7575;
    font-weight: 600;
    padding-bottom: 15px;
    padding-top: 20px;
}
.info-trans-detail-left, .info-trans-detail-right {
    border-bottom: 1px solid #DDD7D7;
    padding-bottom: 20px;
}
.comp-info-trans-detail-left p{
    display:flex;
    flex:column;
    justify-content: left;
    margin: 0;
    font-size: 15px;
    color: #7B7575;
    font-weight: 400;
    padding-bottom: 15px;
    padding-top: 20px;
}
.comp-info-trans-detail-right p{
    display:flex;
    flex:column;
    justify-content: right;
    margin: 0;
    font-size: 15px;
    color: #7B7575;
    font-weight: 600;
    padding-bottom: 15px;
    padding-top: 20px;
}
.comp-info-trans-detail-right .message-comp{
    font-size: 10px;
    text-align: justify;
}
.comp-info-trans-detail-left, .comp-info-trans-detail-right {
    padding-top: 20px;
    padding-bottom: 20px;
}
.info-status p{
    display: flex;
    flex: column;
    justify-content: left;
    align-items: center;
    font-size: 12px;
    margin: 0;

}
.info-status-update p{
    display: flex;
    flex: column;
    justify-content: right;
    font-size: 12px;
    font-weight: 800;
    margin: 0;
}
.info-status-button button{
    background-color: #08B64E;
    border: none;
    font-size: 12px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}
.info-status-button button:hover{
    background-color: #06903d;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 80%;
  }
}
@media (max-width: 400px) {
    .content-holder{
        padding: 10px;
    }
    .left-side-bar{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .right-side-bar{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .trans-detail {
        font-size: 11px;
    }
    .trans-detail input{
        margin: 0;
        width: 120px ;
        height: 25px;
        font-size: 10px;
    }
    .trans-title-payment h6{
        font-size: 13px;
    }
    .trans-detail-left p,
    .trans-detail-right p,
    .info-trans-detail-left p,
    .info-trans-detail-right p,
    .comp-info-trans-detail-left p,
    .comp-info-trans-detail-right p
    {
        font-size: 10px;
    }
    .info-status p
    {
        font-size: 9px;
    }
    .info-status-update p{
        font-size: 8px;
    }
    .info-status-button button{
        font-size: 10px;
        padding: 10px;
    }
    .info-status-update .status-color{
        font-size: 6px;
    }
    .counter-button-confirm,
    .counter-button-cancel
    {
        padding: 10px;
        font-size: 13px;
    }

 }
