@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('http://fonts.cdnfonts.com/css/uni-neue');
@import url('//db.onlinewebfonts.com/c/80241b4ef777109d2625c9195e7ca852?family=NordiquePro-Bold');

.container {
    font-family: 'Poppins', sans-serif;
}
.content-holder{
    margin-top: 60px;
}

/* LEFT CARD */
.right-side{
    margin: 0;
}
.left-sidebar {
    max-height: 700px;
    height: 700px;
    overflow-y: auto;
  }
.left-sidebar.desktop {
    overflow-y: hidden;
}

.left-sidebar{
    border-radius: 15px;
    background-color: #f9f6f6;
    z-index: 1 !important;
}

.left-sidebar-title{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}
.left-sidebar-padding{
    padding: 20px;
}
.card-head-color{
    background-image: linear-gradient(45deg, #f83f0b,#e09e1a);
    border-radius: 10px;
    margin: 0;
    padding: 10px
}
.request-card {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    background-color: #FFFFFF;
}
.request-card-content{
    padding: 20px;
}
.request-card-logo{
    width: 50px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.finder-name{
    font-size: 13px;
    font-weight: 600;
    margin: 0;
   
}
.finder-user{
    font-size: 10px;
    margin: 0;
}
#finder_profile{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.finder-date-trans{
    font-size: 10px;
    margin: 0;
}
.finder-time-trans{
    font-size: 7px;
    margin: 0;
}
.fee{
    font-size: 7px;
    font-weight: 700;
    color: #555;
}
.finder-details{
    font-size: 10px;
    margin: 0;
}
.finder-details-book{
    font-size: 12px;
    margin: 0;
}
.finder-details-bold{
    font-size: 9px;
    margin: 0;
    font-weight: 600;
    padding-top: 5px;
}
.book-icon{
    font-size: 35px;
    color: #7B7B7C;
}

/* RIGHT CARD */

.right-sidebar{
    border-radius: 5px;
    background-color: #f9f6f6;
}

.right-sidebar-title{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.right-sidebar-padding{
    padding: 5px;
}
.table-card-content{
    padding: 5px;
}

/* LEFT CARD */

/* SCROLL */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  /* LIST OF ALL BOOKINGS TABLE */
.table-card {
    /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); */
    background-color: #f9f6f6;
}
.list-table-bookings {
    display: block;
    height: 300px;
    overflow-y: auto;
    background-color: #FFFFFF;
    border-radius: 5px;
  }
.title-table-all{
    background-color: #f3f6f9;
}
.list-table-bookings tr th{
    font-size: 10px;
    text-align: center;
    align-items: start;
    padding: 8px;
    color: #7B7575;
    text-transform: uppercase;
}
.card-title-text{
  background-image: linear-gradient(45deg, #f83f0b,#e09e1a);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-weight: 800;
}

.list-table-bookings tr td{
    font-size: 10px;
    text-align: center;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid gainsboro;
}
.table-row:hover {
    background-color: #cfd1d4;
    border-radius: 10px;
    cursor: pointer;
}
.search_field{
    border: none;
    outline: none;
    font-size: 12px;
}
.search_holder{
    border-radius: 50px;
    border: 0.8px solid rgb(136, 136, 136);
}
  /* Transaction Status */
.status-pending {
    background-image: linear-gradient(45deg, #EDD94C,#d0b57f);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-weight: 800;
  cursor: pointer;
}
.status-accepted {
    background-image: linear-gradient(45deg, #48A14D,#349953);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-weight: 800;
  cursor: pointer;
}
.status-waiting {
    background-image: linear-gradient(45deg, #cbc34e,#e0ce0f);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-weight: 500;
  cursor: pointer;
}
.status-decline {
    background-image: linear-gradient(45deg,  #B33F40,#b72828);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-weight: 800;
  cursor: pointer;
}
.status-paid {
    background-image: linear-gradient(45deg, #48A14D,#349953);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-weight: 800;
  cursor: pointer;
}
.status-unpaid {
    background-image: linear-gradient(45deg,  #ed3f42,#c40c0c);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-weight: 800;
  cursor: pointer;
}

/* ONGOING TABLE */
.title-icon{
    font-size: 20px;
    background-image: linear-gradient(45deg, #f83f0b,#e09e1a);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.ongoing-table-bookings {
    display: block;
    height: 250px;
    overflow-y: auto;
    background-color: #FFFFFF;
    border-radius: 5px;
  }
.title-table-wait {
    background-color: #f3f6f9;
    border-radius: 10px;
}
.ongoing-table-bookings tr th {
    font-size: 12px;
    text-align: center;
    align-items: center;
    padding: 11px;
    color: #7B7575;
}

.ongoing-table-bookings tr td{
    font-size: 12px;
    text-align: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid gainsboro;
}

.gcash-logo{
    width: 30px;
    border-radius: 5px;
}

/* MODAL CSS */

.modal-holder {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}
.modal-left-card-profile{
    padding: 20px 20px 10px 20px;
    background-color: #EFEBEB;
    border-radius: 10px;
}
.modal-user-information{
    padding: 10px;
}
.modal-user-information img {
    width: 100px;
    border-radius: 70%;
    padding-bottom: 10px;
}
.modal-user-name{
    font-size: 20px;
    color: #454242;
}
.modal-caption{
    font-size: 15px;
    color: #969393;
}
.modal-user-info{
    padding-top: 10px;
}
.modal-user-info-title{
    color: #774444;
}
.modal-caption-user{
    font-size: 12px;
    color: #969393;
}
.modal-caption-details-left{
    padding-left: 10px;
    font-size: 12px;
    color: #969393;
}
.modal-caption-details-left-ticket{
    font-size: 12px;
    color: #969393;
}

.modal-caption-details-left-total{
    padding-top: 5px;
    font-size: 17px;
    margin: 0;
}
.modal-caption-details-right{
    font-size: 12px;
    color: #454242;
    font-weight: 600;
}
.modal-caption-details-right-method{
    color: white;
    font-size: 12px;
}
.modal-caption-details-right-status{
    color: white;
    font-size: 12px;
}
.modal-caption-details-right-message{
    font-size: 10px;
    color: #454242;
}
.modal-caption-details-right-method img{
    width: 30px;
    border-radius: 5px;
}
.modal-right-card-profile .modal-user-info .modal-data-info-right{
    text-align: right;
}
/* .ticket-fee-total {
    padding-top: 17px;
} */
.ticket-fee-total p{
    font-size: 15px;
}
.ticket-fee-total-right p{
    font-size: 15px;
    color: green;
}
.modal-caption-details-right-total{
    font-size: 17px;
    color: green;
    padding-top: 1px;
}
/* For mobile */
@media (max-width: 400px) {
    .modal-holder {
        padding: 5px;
    }
    .modal-left-card-profile{
        padding: 10px 10px 5px 10px;
        height: 350px;
    }
    .modal-user-information{
        padding: 5px;
    }
    .modal-user-information img {
        width: 50px;
        padding-top: 20px;
    }
    .modal-user-name{
        font-size: 10px;
    }
    .modal-caption{
        font-size: 8px;
    }
    .modal-user-info{
        padding-top: 5px;
    }
    .user{
        font-size: 12px;
        padding-top: 40px;
    }
    .modal-user-info-title{
        font-size: 12px;
    }
    .modal-caption-user{
        font-size: 10px;
    }
    .modal-caption-details-left{
        font-size: 6px;
    }
    .modal-caption-details-right{
        font-size: 6px;
        margin-bottom: 15px;
    }
    .modal-caption-details-right-method{
        font-size: 6px;
        margin-bottom: 0;
    }
    .modal-caption-details-right-status{
        font-size: 5px;
    }
    .modal-caption-details-right-message{
        font-size: 6px;
    }
    .ticket-fee-total p{
        font-size: 7px;
    }
    .ticket-fee-total-right p{
        font-size: 7px;
    }
    .ticket-fee-total {
        padding-top: 7px;
    }
    .modal-caption-details-left-total{
        font-size: 6px;
        text-align: right;
    }
    .ticket-fee-total p{
        font-size: 7px;
    }
    .ticket-fee-total-right p{
        font-size: 7px;
    }
    .modal-caption-details-right-total{
        font-size: 9px;
    }


}


/* MODAL */
.modal-content{
    border-radius: 10px;
}
.card-head-color{
    background-image: linear-gradient(45deg, #f83f0b,#e09e1a);
    border-radius: 10px;
    padding: 20px;
}
.message-img img{
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
}
.message-modal-holder{
    padding: 20px;
}
.message-name{
    /* margin-left: -15px; */
    padding-top: 10px;
}
.message-name p{
font-size: 12px;
}
.input-message textarea{
    margin-left: 20px;
    outline: none;
    resize: none;
    border: 1px solid rgb(204, 197, 197);
    font-size: 12px;
    padding: 5px;
    background-color: #F1F1F1;
    border-radius: 5px;
    color: #807B7B;
}
@media (max-width: 400px) {
    .message-modal-content {
        width: 80%;
    }
    .buttons-modal button{
        font-size: 7px;
    }
    .user {
        padding-top: 10px;
    }
    .modal-caption{
        margin: 0;
    }
    .modal-left-card-profile {
        height: 45vh;
    }
}